@model FactoryManagement_Omri.Models.EmployeeShift
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddShiftToEmployee</title>
</head>
<body>
    <h2>hello @ViewBag.userFlName</h2>
    <h3>Add Shift To Employee</h3>
    <div>
        <form action="/employees/SetEmployeeShift" method="post">
            @Html.HiddenFor(x => x.EmployeeID, new { Value = Model.ID })
            
            Shift: @Html.DropDownListFor(x => x.ShiftID, new SelectList(ViewBag.shifts, "ID", "Date", "startTime"))

            <input type="submit" value="Save" /><br />
            <ul>
                <li>@Html.ActionLink("Back to Employees", "Index", "Employees")</li>
                <li>@Html.ActionLink("Back Home", "HomePage", "HomePage")</li>
            </ul>
        </form><br />
        <a>@Html.ActionLink("Log Out", "VoluntarylogOut", "login")</a>
    </div>
</body>
</html>
